<ul class="nav d-flex justify-content-between bg-primary mb-1" style="width:100%">
  <li class="nav-item">
    <%= link_to(
                  raw("<i class='fas fa-arrow-left'></i>"),
                  groups_path,
                  class: "nav-link text-light border-0"
                )%>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="#">NEW GROUP</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="#"><i class=""></i></I></a>
  </li>
</ul>
<div class="container-fluid">
<%= render "form", group: @group %>
</div>