<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Categories</h2>
      <ul class="list-group">
        <li class="list-group-item">
          <%= link_to(
                  raw("<i class='fas fa-utensils'></i> Food <span class='float-right'>$100</span>"),
                  group_group_expense_path(group_id:1,id:1),
                  class: "list-group-item border-0"
                )%>

      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= link_to "Add new category", new_group_path, class:"btn btn-primary"%>
    </div>
  </div>
</div>
