<div class="container text-center bg-secondary d-flex justify-content-center">
  <div class="form-container">
      <div class="bg-light d-flex flex-column" style="width:19rem; height:619px;">
         <div class="body flex-fill bg-light d-flex flex-column justify-content-center ">
            <h3>Snapscan</h3>
         </div>
         <div class="footer p-2">
            <%= link_to "LOG IN", new_user_session_path, class:"btn btn-primary form-control mb-1" %>
            <%= link_to "SIGN UP", new_user_registration_path, class:"btn btn-light text-secondary form-control"%>
         </div>
      </div>
  </div>
</div>